In [1]:
!pip install numpy

Requirement already satisfied: numpy in ./venv/lib/python3.8/site-packages (1.23.1)

In [2]:
!pip install pandas

Requirement already satisfied: pandas in ./venv/lib/python3.8/site-packages (1.4.3)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.8/site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in ./venv/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in ./venv/lib/python3.8/site-packages (from pandas) (1.23.1)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
!pip install scipy

Requirement already satisfied: scipy in ./venv/lib/python3.8/site-packages (1.8.1)
Requirement already satisfied: numpy<1.25.0,>=1.17.3 in ./venv/lib/python3.8/site-packages (from scipy) (1.23.1)

In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('dataset/state_crime.csv')

In [9]:
df.head(5)

,State,Year,Data.Population,Data.Rates.Property.All,Data.Rates.Property.Burglary,Data.Rates.Property.Larceny,Data.Rates.Property.Motor,Data.Rates.Violent.All,Data.Rates.Violent.Assault,Data.Rates.Violent.Murder,...,Data.Rates.Violent.Robbery,Data.Totals.Property.All,Data.Totals.Property.Burglary,Data.Totals.Property.Larceny,Data.Totals.Property.Motor,Data.Totals.Violent.All,Data.Totals.Violent.Assault,Data.Totals.Violent.Murder,Data.Totals.Violent.Rape,Data.Totals.Violent.Robbery
0,Alabama,1960,3266740,1035.4,355.9,592.1,87.3,186.6,138.1,12.4,...,27.5,33823,11626,19344,2853,6097,4512,406,281,898
1,Alabama,1961,3302000,985.5,339.3,569.4,76.8,168.5,128.9,12.9,...,19.1,32541,11205,18801,2535,5564,4255,427,252,630
2,Alabama,1962,3358000,1067.0,349.1,634.5,83.4,157.3,119.0,9.4,...,22.5,35829,11722,21306,2801,5283,3995,316,218,754
3,Alabama,1963,3347000,1150.9,376.9,683.4,90.6,182.7,142.1,10.2,...,24.7,38521,12614,22874,3033,6115,4755,340,192,828
4,Alabama,1964,3407000,1358.7,466.6,784.1,108.0,213.1,163.0,9.3,...,29.1,46290,15898,26713,3679,7260,5555,316,397,992

In [10]:
df['Data.Population'].mean()

9708501.690208668

In [11]:
df['Data.Population'].median()

3358000.0

In [12]:
from scipy.stats import trim_mean

In [15]:
trim_mean(df['Data.Population'],0.1)

4009627.192940233

In [16]:
np.average(df['Data.Rates.Violent.Murder'], weights=df['Data.Population'])

6.838440316176802